# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Node / React
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data locale
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# ML models
*.pkl
*.joblib

# Logs
*.log